<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	

	<div>
		
			<h1>Why does Democracy Donations exsist?</h1>
			<p>The simple answer is this: Political donations are incredibly secretive and that is a problem for democracy!<br>
			The best solution for this is an open and transparent donation platform. The best way to do that is by using blockchain.</p>
			<br>
			<h2>There is no way this site would actually be used at scale!</h2>
			<h4>This site is merely meant to give you a glimpse into the idea of using blockchain for political donations.</h4><br>
			<h3>There are three main parts:</h3>
			<p>FIRST, the All Donations page gives you an idea of how the data from a donation can be displayed. Currently only the donation message and the first initial is shown<br>
			SECOND, the Democracy Dollars page shows you a very basic setup for donations. You can either donate to or donate from the Democracy Dollars Fund.<br>
			THIRD, the data! This page is the key to how blockchain can transform political donations. All the data from a donation is stored here and each donation record is immutable.<br>
			<br>
			</p>


			<h3>Recent donations</h3>

		
    </div>
{% endblock %}
